.data-source{
    margin: 15px ;
    padding: 20px;
    max-width: 1100px;
    background: #F9F9F9;
    border: solid;
    border-color: #CCC;
    display: block;
}
.data-source a{
    color: #000;
}
.data-source h2{

    display:block;
    width: 100%;
}

.description{
    font-size: 80%;
}


.controls .btn{
    font-size: .7rem;
    padding: 0.3rem;
}

.controls button{
    margin-left: 5px;

}

.chart-legend{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.chart-legend .item {
    display: inline-block;
    margin: 2px;
}
.chart-legend .color{
    width: 40px;
    height: 10px;
    display: inline-block;
}

.chart-legend .label{
    height: 15px;
    font-size: small;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
