.member{
    display: inline-flex;
    align-content: baseline;
}
.member .photo{
    position: relative;
    top: -75px;
    width: 125px;
    height: 125px;
    margin-bottom: -75px;
    border: 6px solid #eeeeee;

    box-shadow: 2px 0px 1px 0px rgba(0,0,0,0.05);
    border-radius: 40px !important;
}


.member .box{
    width: 270px;

    padding: 5px;
    margin: 100px 20px 20px 20px;

    text-align: center;

    border-top: #eee solid 5px;
    border-bottom: #eee solid 2px;
    border-left: #eee solid 2px;
    border-right: #eee solid 2px;

    -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.04);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.04);
}

.member .professor{
    border-top-color: #800006 ;
    height: 395px;
}

.member .student{
    border-top-color: #008018 ;
    height: 340px;
}

.member .staff{
    border-top-color: #ffcb62 ;
    height: 250px;
}

.member .about{
    font-size: small;
}


